.gallery {
  width: 100%;
  height: calc(100% - 4vh);
  margin: 2vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  border: 4px solid var(--coal);
  border-left: 1px;
  border-style: solid none solid none;
  background: radial-gradient(ellipse at bottom, #ff2a003a, transparent 70%);
}

.phone .gallery {
  border: 0;
  height: 100%;
  margin: 0;
  border-top: 1px solid var(--coal);
}

.imageViewer {
  height: 100%;
  width: 100%;
}

.imageContainer {
  height: 45%;
  justify-content: center;
  aspect-ratio: 1.25 auto;
  margin: 1vh;
}

.phone .imageContainer,
.portrait .imageContainer {
  height: unset;
  width: 90%;
}

.galleryImage {
  width: 95%;
  transition: width 0.25s;
  box-shadow: 0 4px 6px #7729178c;
}

.galleryImage:hover {
  width: 100%;
  cursor: zoom-in;
}

.phone .galleryImage:hover,
.portrait .galleryImage:hover {
  width: 95%;
  cursor: unset;
}

.galleryModal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2c0905b8;
  top: 0;
  left: 0;
  justify-content: center;
}

.zoomImage {
  border: 4px solid black;
  box-shadow: 0 0 100px 100px #29100bba;
  max-width: 90%;
}

.zoomImage:hover {
  cursor: zoom-out;
}