.menu {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.menuNav {
  width: calc(100% - 4vh);
  margin: 2vh;
  margin-top: 0;
  border-bottom: 1px solid;
  flex-wrap: wrap;
}

.menuButton {
  box-sizing: border-box;
  padding-top: 0;
  margin: 6px;
}

.menuContainer {
  width: 100%;
  overflow: auto;
}

.menuLabel {
  border: 1px solid var(--darkText);
  border-style: none none solid;
  margin-bottom: 1vh;
}

.menuSection {
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 2vh;
  width: calc(100% - 4vh);
}

.menuCategory {
  margin-bottom: 2vh;
}

.menuItem {
  margin-top: 4px;
}

.menuInfo {
  max-width: 90%;
}