.navbar {
  position: relative;
  flex: none;
  margin: 1vh;
  width: 260px;
  height: calc(100% - 2vh);
  box-sizing: border-box;
}

.navImage {
  z-index: -1;
  margin-top: 1.2vh;
}

.navButtons {
  width: 100%;
  margin-right: 62px;
  top: 180px;
  position: absolute;
  align-items: flex-end;
  font-size: 40px;
}

.navButton {
  height: 60px;
  padding-right: 8px;
  font-size: 42px;
  text-align: right;
  transition: color 0.5s, font-size 0.3s;
}

.navButton:hover, .viewing {
  cursor: pointer;
  color: var(--firehouse);
  transition: color 0s;
}

.viewing {
  font-size: 44px;
  text-shadow: 0 2px 1px var(--darkText);
}

.orderButton {
  position: absolute;
  bottom: 60px;
  height: 48px;
  width: calc(100% - 60px);
  margin: 24px;
  margin-bottom: 1.5vh;
  box-sizing: content-box;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background-color: var(--firehouse);
  box-shadow: 0 3px 4px #39161099;
  font-size: 20px;
  color: rgba(248, 237, 230, 0.932);
  border: 2px solid var(--darkText);
}

.orderButton:hover {
  cursor: pointer;
  color: white;
}

.contactButtons {
  position: absolute;
  bottom: 0;
  height: 48px;
  width: calc(100% - 60px);
  margin: 24px;
  margin-bottom: 1.5vh;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background-color: var(--trCream);
  box-shadow: 0 6px 6px var(--shadow);
}