.navbarP {
  position: relative;
  flex: none;
  padding: 1vh;
  width: 100%;
  height: 180px;
  box-sizing: border-box;
}

.navImageP {
  z-index: -1;
  height: 160px;
  width: 180px;
}

.navButtonsP {
  width: 100%;
  font-size: 32px;
}

.navButtonP {
  font-size: 42px;
  text-align: center;
  transition: color 0.5s, font-size 0.3s;

  background-color: var(--trCream);
}

.navButtonP * {
  margin-top: -6px;
}

.navButtonP:hover, .viewingP {
  cursor: pointer;
  color: var(--firehouse);
  transition: color 0s;
}

.viewingP {
  text-shadow: 0 2px 1px var(--darkText);
}

.orderButtonP, .contactButtonsP, .navButtonP {
  height: 48px;
  width: 100%;
  margin: 4px;
  margin-bottom: 1vh;
  margin-top: 1vh;
  box-sizing: border-box;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 6px 6px var(--shadow);
}

.orderButtonP {
  background-color: var(--firehouse);
  font-size: 20px;
  color: rgba(248, 237, 230, 0.932);
  justify-content: center;
  border: 1px solid var(--darkText);
}

.orderButton:hover {
  cursor: pointer;
  color: white;
}

.contactButtonsP {
  background-color: var(--trCream);
  justify-content: space-around;
  width: 40%;
}