:root {
  --bg: #ffd3c4;
  --brown: #86716a;
  --gold: #ffbc90;
  --salmon: #ff9d90;
  --darkSalmon: #a0483c;
  --leaf: #d1e275;
  --sky: #41aadd;
  --coffee: #44231b;
  --cream: rgb(255, 239, 229);

  --lightText: rgb(255, 232, 217);
  --darkText: #3d1a15;

  --shadow: #39161096;
}

html, body, #root, .app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Jost;

  background-color: var(--bg);
  color: var(--darkText);
}

h1, h2, h3 {
  margin: 0;
}

.v {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2vh;
  box-sizing: border-box;
}

.h {
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  box-sizing: border-box;
}

/* --- */

.backButton {
  user-select: none;
  padding: 1vh;
  box-sizing: border-box;
  min-height: 48px;
  color: var(--salmon);
}

.alert {
  z-index: 11;
  position: absolute;
  bottom: 10vh;
  min-width: 200px;
  width: max-content;
  padding: 1vh;
  border-radius: 25px;
  border: 2px solid var(--darkText);
  box-shadow: 0 2px 3px var(--shadow);
  background-color: var(--cream);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}